.title{
    position: absolute;
    text-transform: uppercase;
   font-size:150%;
   margin: 0.8% 0 0 0.5%;
   color: white;

}
.header{
    height: 50px;
    width:auto;
    background: linear-gradient(to right,rgb(230, 119, 28),rgb(240, 237, 233));
  
}